.header-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: 90px;
    background-color: #121212;
    border-bottom: 1px solid #232223;
    padding-left: 16px;
    padding-right: 16px;
}

.left-header {
    display: flex;
    align-items: flex-end;
}

.left-header > span {
    font-weight: 700;
    font-size: 48.9287px;
    line-height: 48px;
    letter-spacing: 0.03em;
    color: #F0F0F0;
    opacity: 0.75;
    margin-bottom: 17px;
    cursor: pointer;
}

@media screen and (max-width: 393px) {
    .header-container {
        height: 60px;
    }
    .left-header span {
        font-size: 30.5804px;
        line-height: 30px;        
        letter-spacing: 0.03em;
    }
}